{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card-body">

                <form action="" method="POST" class="text-center">
                    <p class="h4 mb-4">Update Details</p>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary"" type="submit" id="submitbutton">Update Details</button>
                    <br><br>
                    <p>Do you want to change password?
                        <a href="/accounts/changepwd">Click Here</a>
                    </p>
            </form>
            </div>
        
    </div>
    </div>
</div>


{% endblock %}